<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            body {
                margin: 0;
            }
            p {
                position: absolute;
                right: 0;
                z-index: 10;
            }
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 0;
            }
        </style>
    </head>
    <body>
        <p>Share URL: <a href="{{ client_url }}">{{ client_url }}</a></p>
        <iframe src="{{ client_url }}"></iframe>
    </body>
</html>
